/* import google inter font */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* reset default css */
* {
  box-sizing: border-box;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  color: inherit;
}

/* variables */
:root {
  /* Ag Heading (XL) */
  --heading-xl-font-size: 3.5rem;
  --heading-xl-line-height: 3.5rem;
  --heading-xl-letter-spacing: 0;
  --heading-xl-font-weight: 800;
  /* Ag Heading (L) */
  --heading-L-font-size: 2.5rem;
  --heading-L-line-height: 2.5rem;
  --heading-L-letter-spacing: 0;
  --heading-L-font-weight: 700;
  /* Ag Heading (M) */
  --heading-m-font-size: 2rem;
  --heading-m-line-height: 2rem;
  --heading-m-letter-spacing: 0;
  --heading-m-font-weight: 700;
  /* Ag Heading (s) */
  --heading-s-font-size: 1rem;
  --heading-s-line-height: 1.5rem;
  --heading-s-letter-spacing: 0;
  --heading-s-font-weight: 800;
  /* Ag Heading (Xs) */
  --heading-xs-font-size: 1.13rem;
  --heading-xs-line-height: 1.5rem;
  --heading-xs-letter-spacing: 0;
  --heading-xs-font-weight: 800;
  /* Ag (Body) */
  --ag-body-font-size: 0.94rem;
  --ag-body-line-height: 1.63rem;
  --ag-body-letter-spacing: 0;
  --ag-body-font-weight: 400;
  /* Button font specifics */
  --button-font-size: 0.88rem;
  --button-line-height: 1.5rem;
  --button-letter-spacing: 0.27rem;

  /* colors */
  --almost-white: #fffdfa;
  --dark-space-blue: #00001a;
  --gunmetal: #5e607a;
  --light-vermillion: #f15d51;
  --yellow: #e9aa52;
  --silver: #c5c6ce;
}

body {
  padding: 5.56rem 10.31rem 8.06rem 5.56rem;
  background-color: var(--almost-white);
}

/* navigation styles */

.nav > img {
  width: 4rem;
  height: 2.49rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links > ul {
  display: flex;
  gap: var(--heading-L-font-size);
  align-items: center;
  font-size: var(--ag-body-font-size);
  font-weight: var(--ag-body-font-weight);
  letter-spacing: var(--ag-body-letter-spacing);
  line-height: var(--ag-body-line-height);
  color: var(--gunmetal);
}

ul > li > a:hover {
  color: var(--light-vermillion);
}

.menu-icon {
  font-size: var(--heading-L-font-size);
  display: none;
  cursor: pointer;
}

/* top-story and new section */
.headlines {
  display: flex;
  gap: 1.88rem;
  margin-top: 3.44rem;
  width: 69.38rem;
}

.main-story {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  width: 45.63rem;
}

.top-story-image {
  width: inherit;
}

.top-story-image > img {
  max-width: 100%;
}

.top-story-desc {
  display: flex;
  gap: 1.88rem;
}

.top-title {
  width: 47.95%;
}

.top-title h1 {
  font-size: var(--heading-xl-font-size);
  font-weight: var(--heading-xl-font-weight);
  letter-spacing: var(--heading-xl-letter-spacing);
  line-height: var(--heading-xl-line-height);
  color: var(--dark-space-blue);
}

.top-story-read {
  width: 47.95%;
}

.top-story-read p {
  font-size: var(--ag-body-font-size);
  font-weight: var(--ag-body-font-weight);
  letter-spacing: var(--ag-body-letter-spacing);
  line-height: var(--ag-body-line-height);
  color: var(--gunmetal);
}

.top-story-read button {
  background-color: var(--light-vermillion);
  border: none;
  font-size: var(--button-font-size);
  letter-spacing: var(--button-letter-spacing);
  line-height: var(--button-line-height);
  color: var(--almost-white);
  font-weight: bold;
  margin-top: 1.81rem;
  padding: 0.81rem 2.19rem 0.69rem 1.94rem;
  cursor: pointer;
}

.top-story-read button:hover {
  background-color: var(--dark-space-blue);
}

/* new-stories */
.new-stories {
  padding: 2rem 1.5rem;
  background-color: var(--dark-space-blue);
  width: 21.88rem;
  height: inherit;
}

.new-stories h2 {
  font-size: var(--heading-L-font-size);
  font-weight: var(--heading-L-font-weight);
  letter-spacing: var(--heading-L-letter-spacing);
  line-height: var(--heading-L-line-height);
  color: var(--yellow);
  margin-bottom: 0.19rem;
}

.snippet h3 {
  font-size: var(--heading-s-font-size);
  font-weight: var(--heading-s-font-weight);
  letter-spacing: var(--heading-s-letter-spacing);
  line-height: var(--heading-s-line-height);
  color: var(--almost-white);
  margin-bottom: 0.5rem;
  margin-top: 1.94rem;
  cursor: pointer;
}

.snippet h3:hover{
color: var(--yellow);
}

hr {
  color: #5E607A ;
}



.snippet p {
  font-size: var(--ag-body-font-size);
  font-weight: var(--ag-body-font-weight);
  letter-spacing: var(--ag-body-letter-spacing);
  line-height: var(--ag-body-line-height);
  color: var(--silver);
}

.snippet {
  margin-bottom: 1.81rem;
}

.new-snippets .snippet:last-of-type {
  margin-bottom: 0;
}

/*media queries tablets */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    padding: 2.5rem 2rem 3.5rem 2rem;
  }
}

/* media Queries mobile */
@media only screen and (max-width: 768px) {
  body {
    padding: 1.75rem 1rem 5rem 1rem;
  }

  .nav > img {
    width: 2.81rem;
    height: 1.75rem;
  }

  .menu-icon {
    display: block;
  }

  .nav-links {
    display: none;
  }

  .nav-links > ul {
    flex-direction: column;
    gap: var(--heading-xs-font-size);
  }
}
